//animation_logo
#ls{
  animation: ls 5s ease infinite alternate;
}
@keyframes ls{
  0%{
      fill-opacity: 0;
      stroke-dasharray: 1 1000;
      stroke-dashoffset: 0;
      stroke-width: 0;
      opacity: 1;
  }
  30%{
      fill-opacity: 0;
      stroke-dasharray: 150 0;
      stroke-dashoffset: 0;
      stroke-width: 1;
      opacity: 1;
      
  }
  60%,90%{
      fill-opacity: 1;
      stroke-dasharray: 150 0;
      stroke-dashoffset: 0;
      stroke-width: 0;
      opacity: 1;
      
  }
  100%{
      fill-opacity: 1;
      stroke-dasharray: 150 0;
      stroke-dashoffset: 0;
      stroke-width: 1;
      opacity: 1;
  }
}
#main.active{
  animation: showSectionLeft 1s forwards;
}
#sobre.active, #contato.active{
  animation: showSection 1s forwards;
}

// animação de exibir seções
@keyframes showSection {
  0%{
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showSectionLeft {
  0%{
    opacity: 0;
    transform: translate3d(40px, 0, 0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}