main{
  max-width: 800px;
}

//classes gerais
.relative{
  position: relative;
}

.align-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content{
  flex: 1;
}
.m-auto{
  margin: 0 auto;
}
.flex-collumn{
  flex-direction: column;
}
.d-none{
  display: none;
}

//AREA MENU
.nav{
  padding: 0 40px;
}
.nav-container{
  display: flex;
  width: 100%;
}
.nav-list{
  padding: 8px;
  li.nav-item{
    display: inline-block;
    margin: 0 20px;
    font-size: 18px;
    padding: 8px;
    color:var(--color-content);
  }
}
.logo{
  width: 200px;
  padding: 20px;
  overflow-y: hidden;
  svg{
    display: block;
    width: 70px;
    height: 70px;
    filter: drop-shadow(0 0 25px #02BFC5);
  }
}

//btn dark-mode/light-mode
.togle-theme{
  width: 200px;
  height: 30px;
}
.btn_togle_theme {
  position: absolute;
  top: -15px;
  right: 20px;
  background-color: unset;
  border: none;
}

.checkbox {
  opacity: 0;
}

.label {
  width: 50px;
  height: 26px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  background-color: var(--bg-color);
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: var(--bg-header_task);
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(-24px);
}



//AREA TO DO LIST
input[type=text]{
  background-color: var(--input_color);
  border: 0;
  border-radius: 4px;
  height: 36px;
  width: 80%;
  padding: 8px;

  margin: 24px 10px;

  font-size: 18px;
  color:var(--color-content);
}
.task-area{
  background-color:var(--bg-header_task);
  margin: 10px 0;
  border-radius: 10px;
  width: 100%;
  ul{
    list-style: none;
    width: 100%;
  }
  .task-item{
    position: relative;
    width: 100%;
    padding: 0px 20px;
  }
  .task-text{
    margin: 15px 10px 15px 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 70%;
  }
  input[type=checkbox]{
   opacity: 0;
   cursor: pointer;
   position: absolute;
   left: 36px;
    width: 36px;
    height: 36px;
    &:hover + .check{
      background: url("../svg/check.svg") $green-md;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
.check{
  width: 36px;
  height: 36px;
  border: 1px solid $green-light;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: $white;
  display: inline-block;
  transition: all 0.5s ease;
}
input[type=checkbox]:checked + .check {
  background: url("../svg/check.svg") $green-md;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
input[type=checkbox]:checked ~ .task-text {
  text-decoration: line-through;
  background-color: $green-gray;
  color: gray;
}

//about
.sobre h2{
  color: var(--color-content);
  margin-top: 15px;
}

//footer

footer{
  width: 100%;
  flex-shrink: 0;
  padding: 12px;
  background-color: var(--bg-header_task);
  color: var(--color_p);
}

.links{
  margin-top: 10px;
}
